body{
    font-size: sans-serif;
    background-color:rgb(245, 245,245);
    margin:0;
    padding: 20px;
}
h1{
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}
h2{
    font-size:  20px;
    color: #606060;
    font-weight: 900;
}
p{
    font-size: 14px;
    margin:30px;

}
li{
    font-family: monospace;
    font-size: 18px;
    padding:10px;


}
a{
    font-weight: bold;

}
li a{
    color: orange;
    text-decoration: underline;
}
ul{
    margin-left:100px;
    padding:20px;
    border: 2px solid;
    border-color: blue;
    max-width: 40%;
    list-style-type: none;
}
.colverde{
    color: green;
}
li a:hover{
    background-color: #d3d3d3;;
    cursor: pointer;
}

li:hover{
    background-color:#d3d3d3;
    cursor: pointer;
}
